@{
    ViewData["Title"] = "Chi tiết bảng điểm";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model List<Exam>

<div class="content-table">
    <div class="card">
        <h5 class="card-header">Chi tiết bảng điểm</h5>
        <div class="container">
       
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <div id="pagination-container">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-nowrap">
                                    <th>Mã</th>
                                    <th>Lớp</th>
                                    <th>Mã học phần</th>
                                    <th>Học phần</th>
                                    <th>Mã sinh viên</th>
                                    <th>Tổng số điểm</th>
                                    <th>Thang điểm</th>
                            
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exam in Model)
                                {
                                    <tr>
                                        <td>@exam.ExamId</td>
                                        <td>@exam.Class.ClassName</td>
                                        <td>@exam.SubjectId </td>
                                        <td>@exam.Subject.SubjectName </td>
                                        <td>@exam.RollNo </td>
                                        <td>@exam.TotalMarks </td>
                                        <td>@exam.OutOfMarks </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        loadStudents();

        function loadStudents(page = 1) {
            $.ajax({
                url: '/examination/GetMarkDetails',
                type: 'GET',
                data: { page: page },
                success: function (result) {
                    $('#pagination-container').html(result);
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Đã xảy ra lỗi khi tải dữ liệu '
                    });
                }
            });
        }

        $(document).on('click', '.page-link', function () {
            var page = $(this).data('page');
            loadStudents(page);
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


